<% action = (@comment.persisted? ? comment_url(@comment) : comments_url )%>
<% title = (@comment.persisted? ? "Edit Comment" : "Submit Comment")%>

<h1><%= title %></h1>

<form action="<%= action %>" method="POST">
  <%= csrf_token %>
  <%= patch_method %>

  <% if @link %>
    <input type="hidden" name="comment[link_id]" value="<%= @link.id %>">
  <% end %>

  <% if params[:controller] == "comments" && params[:action] == "show" %>
    <input type="hidden" name="comment[parent_comment_id]" value="<%= params[:id] %>">
    <input type="hidden" name="comment[link_id]" value="<%= @existing_comment.link.id %>">
  <% end %>


  <p>
    <label>Comment
      <input type="text" name="comment[body]" value="<%= @comment.body %>">
    </label>

  <input type="submit" value="<%= title %>">
  </p>
</form>