<% action = (@link.persisted? ? link_url(@link) : links_url )%>
<% title = (@link.persisted? ? "Edit Link" : "Submit Link")%>

<h1><%= title %></h1>

<form action="<%= action %>" method="POST">
  <%= csrf_token %>

  <p>
    <label>Link Title
      <input type="text" name="link[title]" value="<%= @link.title %>">
    </label>

    <label>Link URL
      <input type="text" name="link[url]" value="<%= @link.url %>">
    </label>
    <br>

    <% @all_subs.each do |sub| %>
      <label><%= sub.name %>
      <input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>"       <%= "checked".html_safe if @link_subs.include?(sub)%>>
      </label>
    <% end %>

  <input type="submit" value="<%= title %>">
  </p>
</form>