<% karma = 0 %>
<% @link.votes.each do |vote| %>
  <% vote.up ? karma += 1 : karma -= 1 %>
<% end %>

<h1><%= @link.title %></h1>

<%= render "comments/form" %>

Karma: <%= karma %>

<form action="<%=link_upvote_url(@link)%>" method="POST">
  <%= csrf_token %>
  <input type="hidden" name="vote[up]" value="true">
  <input type="hidden" name="vote[link_id]" value="<%= @link.id %>">
  <input type="submit" value="UPBOAT">
</form>

<form action="<%=link_downvote_url(@link)%>" method="POST">
  <%= csrf_token %>
  <input type="hidden" name="vote[up]" value="false">
  <input type="hidden" name="vote[link_id]" value="<%= @link.id %>">
  <input type="submit" value="DOWNBOAT">
</form>

<% @link.comments.each do |comment| %>
  <% unless comment.parent_comment_id %>
    <p><%= render "comments/comment", :comment => comment %></p>
  <% end %>
<% end %>