<% action = (@sub.persisted? ? sub_url(@sub) : subs_url )%>
<% title = (@sub.persisted? ? "Edit Sub" : "Create Sub")%>

<h1><%= title %></h1>

<form action="<%= action %>" method="POST">
  <%= csrf_token %>
  <% if @sub.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label>Sub Name
    <input type="text" name="sub[name]" value="<%= @sub.name %>">
  </label>

  <% unless @sub.persisted? %>
    <% @links.each_with_index do |link, i| %>
  <p>
    <label>Link <%= i + 1 %> Title
      <input type="text" name="links[<%= i %>][title]" value="<%= @links[i].title %>">
    </label>

    <label>Link <%= i + 1 %> URL
      <input type="text" name="links[<%= i %>][url]" value="<%= @links[i].url %>">
    </label>
  </p>
    <% end %>
  <% end %>

  <input type="submit" value="<%= title %>">
</form>