<h1><%= @sub.name %></h1>

<% @sub.links.each do |link| %>
  <%= link_to link.title, link.url %>
  <%= button_to "Delete", link_url(link), method: :delete %>
  <br>
<% end %>

<%= link_to "Submit a Link", new_link_url %>