<!DOCTYPE html>
<html>

<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if current_user %>
    Welcome <%= current_user.username %>!
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>

  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>


  <%= yield %>

</body>

</html>
